<?xml version="1.0" encoding="UTF-8" ?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="org.mariadb.jdbc.Driver"/>
		<property name="url" value="jdbc:mariadb://3.35.222.133:3306/mpms"/>
		<property name="username" value="mpms"/>
		<property name="password" value="mpms!@34"/>
	</bean>

	<!-- 만약 개발용, 운영용 커넥션 메이커가 다르다면 다음과 같이 지정하고, id를 아래의 property[name=connectionMaker] 의 ref에 값만 바꿔주면 된다.-->
	<!--<bean id="testDBConnectionMaker" class="TestDBConnectionMaker"/>-->
	<!--<bean id="productDBConnectionMaker" class="ProductDBConnectionMaker"/>-->

	<!--<bean id="dataSource" class="com.example.tobispring.user.dao.DConnectionMaker"/>-->
	<bean id="userDao" class="com.example.tobispring.user.dao.UserDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
</beans>